<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/clarkx86/index.json" />
    </packageSources>

    <packageSourceCredentials>
        <github>
            <add key="Username" value="vellum-pkg" />
            <add key="ClearTextPassword" value="bc157ac5092eeef709d6c54bc08da666bf0b2cff" />
        </github>
    </packageSourceCredentials>
    
</configuration>